<!DOCTYPE html>
<html>
<head>
    <title>Ciudades</title>
</head>
<body>
    <h1>Lista de ciudades</h1>
    <ul>
        {% for ciudad in ciudades %}
            <li>{{ ciudad }}</li>
        {% endfor %}
    </ul>
</body>
</html>